/**
 * RESET DEFAULT CSS
 */
*
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
ul
    margin: 0
    padding-left: 0
    li
        list-style: none
html
    font-family: Consolas,monospace
    font-size: 14px
    // overflow-y: overlay
    body
        margin: 0 auto
        main
            display: flex
            padding: 0 15px
            max-width: 1170px
            margin: 0 auto
            position: relative
            .mobile-trigger
                display: none
            nav
                width: 180px
                border-right: 1px solid #000
                position: fixed
                height: 100%
                #logo
                    a
                        height: 130px
                        display: flex
                        width: 130px
                        justify-content: center
                        align-items: center
                        border-radius: 50%
                        text-decoration: none
                        margin: 15px auto 30px auto                        
                        &:hover 
                            animation: birdmove .5s
                        span 
                            font-size: 125px
                            color:#000
                        
                ul
                    li
                        margin-bottom: 7px
                        a
                            color: #000
                            text-decoration: none
                            font-weight: 300
                            display: block
                            border-right: 0px solid #fff
                            -webkit-transition: all .2s ease-in-out
                            -moz-transition: all .2s ease-in-out
                            -o-transition: all .2s ease-in-out
                            transition: all .2s ease-in-out                           
                            &:hover
                                border-color: #000
                                border-right-width: 5px
                                background-image: -webkit-linear-gradient(to right,#fff, rgba(0, 0, 0, 0.02))
                                background-image: -o-linear-gradient(to right,#fff, rgba(0, 0, 0, 0.02))
                                background-image: -moz-linear-gradient(to right,#fff, rgba(0, 0, 0, 0.02))
                                background-image: linear-gradient(to right,#fff, rgba(0, 0, 0, 0.02))
                        &.active
                            a
                                border-color: #000
                                border-right-width: 5px
                                background-image: -webkit-linear-gradient(to right,#fff, rgba(0, 0, 0, 0.02))
                                background-image: -o-linear-gradient(to right,#fff, rgba(0, 0, 0, 0.02))
                                background-image: -moz-linear-gradient(to right,#fff, rgba(0, 0, 0, 0.02))
                                background-image: linear-gradient(to right,#fff, rgba(0, 0, 0, 0.02))                                

            .contents
                margin-left: 180px
                width: 100%
                section
                    padding-top: 40px
                    overflow: hidden
                    padding-bottom: 60px
                    .inner-wrp 
                        padding: 15px 0
                        .secured-div-lol //FOR FEATURE/LOCKING
                            display: none
                            opacity: 0
                    .gallery
                        border-left: 5px solid #000
                        padding-left: 5px
                        display: flex      
                        flex-flow: wrap               
                        .img-wrap
                            border: 1px dashed #000
                            padding: 3px
                            height: 208px
                            position: relative
                            margin: 10px
                            img  
                            .filler
                                position: absolute
                                top: 0
                                left: 0
                                right: 75%
                                bottom: 0
                                background: rgba(0, 0, 0, 0.75)
                                &.opened
                                    right: 0%
                                    .inner-details-wrap
                                        > *
                                            opacity: 1 !important                                            
                                .inner-wrap
                                    height: 100%
                                    position: relative                                  
                                    .fa-plus-circle
                                        position: absolute
                                        top: calc(50% - 15px)
                                        right: -13px
                                        font-size: 30px
                                        color: #E91E63
                                        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.65)
                                        border-radius: 50%
                                        cursor: pointer
                                        background: rgba(0, 0, 0, 0.7)
                                        &.opened
                                            transform: rotate(45deg)
                                    .details-wrap
                                        overflow: hidden
                                        height: 100%
                                        position: relative
                                        .inner-details-wrap
                                            height: inherit
                                            width: 246px
                                            padding: 15px
                                            h3
                                                font-size: 18px
                                                font-weight: 700
                                            h3,
                                            p
                                                -webkit-transition: all .5s ease-in-out
                                                -moz-transition: all .5s ease-in-out
                                                -o-transition: all .5s ease-in-out
                                                transition: all .5s ease-in-out                                                
                                                opacity: .3                                                
                                            *
                                                color:#fff
                                            .some-logo
                                                position: absolute
                                                bottom: 15px
                                                left: 15px
                                                right: 15px
                                                display: flex
                                                span
                                                    font-size: 34px
                                                    margin-right: 15px
                                                    &:hover
                                                        text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9)                                                    
                                                    &:last-of-type
                                                        margin-right: 0
                                                a
                                                    background: #fff
                                                    min-width: 34px
                                                    height: 34px
                                                    display: block
                                                    display: flex
                                                    align-items: center
                                                    justify-content: center
                                                    border-radius: 50%
                                                    margin-right: 15px
                                                    i
                                                        color: #000
                                                        font-size: 23px
                    .form-wrap                      
                        border-left: 5px solid #000
                        padding-left: 15px   
                        max-width: 320px
                        width: 100%                                      
                        .field-wrap
                            width: 100%
                            margin-bottom: 15px
                            position: relative
                            .icon-wrap
                                position: absolute
                                width: 30px
                                background-color: #000
                                top: 0
                                bottom: 0
                                width: 30px
                                display: flex
                                align-items: center
                                justify-content: center
                                i
                                    color: #fff
                                    font-size: 17px
                            &:nth-child(3)
                                .icon-wrap
                                    bottom: 4px
                            &:nth-child(4)
                                input
                                    padding-left: 0
                                    background-color:#000
                                    color:#fff
                            input,
                            textarea
                                width: 100%
                                border: 0
                                font-size: 16px
                                padding: 5px 0px  
                                border-bottom: 1px solid #000
                                padding-left: 36px
                                outline: none 
                                font-family: Consolas,monospace !important
                            textarea
                                resize: none
                                height: 100px
                                bottom: 4px                                



                                                     
        footer
            p
                text-align: center
                transform: skewY(-5deg)
                width: 50%
              
        #loader          
            span
                margin-left: 10px

// RESET CSS
.left-border-style
    border-left: 5px solid #000
    padding-left: 15px
h1
    margin-bottom: 30px
h2
    &.main-header
        margin-bottom: 35px
h1,
h2,
h3,
h4,
h5,
h6
    font-weight: 400
    margin-top: 0
p
    margin-bottom: 0
article

// DEFAULT CLASSES
.forceOpacity
    opacity: 0 !important
.trn
    -webkit-transition: all .5s ease-in-out
    -moz-transition: all .5s ease-in-out
    -o-transition: all .5s ease-in-out
    transition: all .5s ease-in-out  
.trnFast
    -webkit-transition: all .2s ease-in-out
    -moz-transition: all .2s ease-in-out
    -o-transition: all .2s ease-in-out
    transition: all .2s ease-in-out

.readm  
    span
        letter-spacing: -3px

span.arrow
    letter-spacing: -3px
    display: inline
    vertical-align: middle    

ul.plans
    li
        padding-left: 30px
        position: relative
        margin-bottom: 10px
        i
            position: absolute
            left: 0
            top: -2px
            font-size: 20px
        span


//KEY FRAMES
.forshadow
    height: 200px
    width: 200px
    margin-left: 15px
    border-radius: 50%
    position: relative
    &.alive
        animation: alive 3s ease-in-out infinite
        &:after 
            content: ''
    .locked
        height: 200px
        width: 200px
        border-radius: 50%
        overflow: hidden
        position: relative
        background-color: #ededed
        &:hover
            i
                animation: triggered .5s
        .challenge
            height: 100%
            width: 100%
            border-radius: 50%
            display: flex
            align-items: center
            justify-content: center
            .release-content
                touch-action: manipulation
                cursor: pointer
                height: 80px
                width: 80px
                border-radius: 50%
                border: 1px
                background-color: #000  
                outline-color: transparent 
                i
                    font-size: 32px
                    color: #fff

.timeline
    position: relative
    max-width: 1200px
    width: 100%
    margin: 0 auto
    &:after
        content: ''
        position: absolute
        width: 5px
        background-color: white
        top: 0
        bottom: 0
        left: 50%
        margin-left: -3px
    .container
        padding: 20px 40px
        position: relative
        background-color: inherit
        width: 50%
        &:after
            content: ''
            position: absolute
            width: 16px
            height: 16px
            right: -12px
            background-color: #000
            border: 4px solid #fff
            top: 40px
            border-radius: 50%
            z-index: 1
        &.left
            left: 0
            &::before
                content: " "
                height: 0
                position: absolute
                top: 42px
                width: 0
                z-index: 1
                right: 30px
                border: medium solid white
                border-width: 10px 0 10px 10px
                border-color: transparent transparent transparent white                
        &.right
            left: 50%
            &::before
                content: " "
                height: 0
                position: absolute
                top: 42px
                width: 0
                z-index: 1
                left: 30px
                border: medium solid white
                border-width: 10px 10px 10px 0
                border-color: transparent white transparent transparent
            &::after
                left: -12px
        &.code
            &::after
                font-family: "Font Awesome 5 Free"
                content: "\f121"
        .content
            padding: 20px 30px
            background-color: white
            position: relative
            border-radius: 6px
            a
                text-decoration: none
                color: #000                
            h3
                font-size: 18px
                margin-bottom: 0                
            ul.responsi
                margin-top: 10px
                padding-left: 20px
                li
                    margin-bottom: 7px
                    list-style: inside
                    &:last-child
                        margin-bottom: 0
            ul.tech
                padding-left: 0
                li
                    list-style: none
                    display: inline-block
                    margin-right: 6px
                    margin-bottom: 15px
                    &:last-child
                        margin-right: 0
                    i
                        font-size: 25px

    
    
.robert-gauge-wrap
    border-left: 5px solid #000
    padding-left: 15px
    padding-bottom: 1px
    max-width: 500px
    width: 100%
    .bar-wrap
        margin-bottom: 15px
        .bar
            height: 9px
            border: 1px dashed #000        
            .power-lvl
                width: 0%
                opacity: 0
                background: #000
                display: block
                height: 7px        

#about
    background: #000
    box-shadow: 945px 0 0 0 black
    padding-bottom: 0
    .inner-wrp
        padding-top: 0
        padding-bottom: 0

@keyframes alive
    0%
        transform: translateY(0px)
    25%
        transform: translateY(-5px)
    50%
        transform: translateY(5px)
    75%
        transform: translateY(-5px)                
    100%
        transform: translateY(0px) 

@keyframes birdmove
    0%
        transform: rotate(0deg)
    50%
        transform: rotate(5deg)
    100%
        transform: rotate(0deg)

@keyframes triggered
    0%
        transform: rotate(0deg)
    33%
        transform: rotate(-10deg)
    66%
        transform: rotate(10deg)
    100%
        transform: rotate(-10deg)
@keyframes pabebe
    0%
        transform: rotate(10deg)
    10%
        transform: rotate(-10deg)  
    20%
        transform: rotate(10deg)  
    30%
        transform: rotate(-10deg)  
    40%
        transform: rotate(10deg)  
    50%
        transform: rotate(-10deg)  
    60%
        transform: rotate(10deg)  
    70%
        transform: rotate(-10deg)  
    80%
        transform: rotate(10deg)  
    90%
        transform: rotate(-10deg)                                                         
    100%
        transform: rotate(0deg)         

// RESPONSIVE BRU
@media (max-width: 1125px)
    .timeline
        &::after
            left: 31px
        .container
            width: 100%
            padding-left: 70px
            padding-right: 25px
            &.right
                left: 0
                &::before
                    left: 60px
                &::after
                    left: 18px
            &.left
                &::before
                    border-width: 10px 10px 10px 0
                    border-color: transparent white transparent transparent
                    left: 60px
                &::after
                    left: 18px
@media (max-width: 771px)
    html
        body
            &.mobile-open
                overflow-y: hidden
                main
                    nav
                        left: 0
                    .contents
                        opacity: .3
            main
                display: block
                .mobile-trigger
                    display: block
                    margin: 0 -15px
                    display: flex
                    align-items: center
                    justify-content: space-between
                    padding: 7px 15px
                    background: #fff
                    position: fixed
                    top: 0
                    width: 100%
                    z-index: 2
                    box-shadow: 0px -7px 14px #000
                    a
                        span.fa-registered
                            font-size: 35px

                    #mobile-menu
                        width: 30px
                        height: 25px
                        position: relative
                        cursor: pointer
                        margin-left: 7px
                        &.move
                            span
                                &:first-of-type
                                    top: 10px
                                    -ms-transform: rotate(45deg)
                                    -webkit-transform: rotate(45deg)
                                    transform: rotate(45deg)                                    
                                &:nth-child(2)
                                    opacity: 0
                                    left: -25px                                    
                                &:last-of-type
                                    bottom: 10px
                                    -ms-transform: rotate(-45deg)
                                    -webkit-transform: rotate(-45deg)
                                    transform: rotate(-45deg)                        
                        span
                            height: 5px
                            width: 30px
                            display: block
                            background-color: #000
                            position: absolute
                            border-radius: 3px                                                   
                            &:first-of-type
                                top: 0
                                transition-property: top, transform
                                transition-duration: .3s, .3s
                                transition-delay: 0s, .1s
                            &:nth-child(2)
                                top: 10px
                                left: 0
                                transition-property: left, opacity
                                transition-duration: .3s, .3s
                                transition-delay: .2s, .3s
                                z-index: 2
                            &:last-of-type
                                bottom: 0
                                transition-property: bottom, transform
                                transition-duration: .3s, .3s
                                transition-delay: .4s, .5s    

                nav
                    top: 0
                    left: -197px
                    background: #fff
                    z-index: 2
                    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.27)
                    border-right: 0
                    padding-left: 15px        
                .contents
                    margin-top: 50px
                    margin-left: 0
                    section
                        margin: 0 -15px
                        padding-right: 15px
                        padding-top: 0
                        .timeline
                            .container
                                padding-right: 0
                                @media (max-width: 430px)  
                                    .content
                                        padding: 15px
                                        ul
                                            padding-left: 0
